*
{
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
}

.ut_cbar_button
{
	float: right;
}

.ut_logo
{
	float: left;
	margin-left: 4px;
}

.ut_cbar
{
	height: 40px;
	position: relative;
	left: 0;
	right: 0;
}

.ut_channelbox
{
	height: calc(100% - 124px);
	padding: 40px;
	transition: height 0.3s;
}

.ut_channel
{
	width: 256px;
	height: 100%;
	margin-right: 40px;
	float: left;
}

.ut_footer
{
	overflow: hidden;
	transition: height 0.3s;
}

.ut_footer_inner
{
	padding: 8px;
}
